---
import { Image } from "astro:assets";
import Item from "../../layouts/item.astro";
import { XataClient } from "../../xata";
import { RiUserFacesContactsLine } from "solid-icons/ri";
import { BsExclamationDiamond } from "solid-icons/bs";
import { TbLocation, TbClock } from "solid-icons/tb";

const xata = new XataClient({
  apiKey: import.meta.env.XATA_API_KEY,
  branch: import.meta.env.XATA_BRANCH,
  enableBrowser: true,
});

const { idCard } = Astro.params;
const data = await xata.db.cards
  .filter({
    id: idCard,
  })
  .getFirst();
---

<Item>
  <div class="container flex bg-white mx-auto rounded-lg overflow-clip">
    <div class="w-full p-10">
      <h1 class="text-xl font-bold border-b-2 mb-4 pb-2">{data?.title}</h1>
      <div class="font-mono text-sm border-b-2 mb-4 pb-4">
        {data?.desc}
      </div>
      <div
        class="flex pb-1 flex-row items-center text-xs sm:text-base tracking-tigh font-bold"
      >
        <div class="flex flex-row items-center">
          <TbLocation class="w-5 h-5 mr-2 text-slate-500" /> Location:&nbsp;
        </div>
        <span class="font-normal">{data?.location}</span>
      </div>
      <div
        class="flex pb-1 flex-row items-center text-xs sm:text-base tracking-tigh font-bold"
      >
        <div class="flex flex-row items-center">
          <TbClock class="w-5 h-5 mr-2 text-slate-500" /> Type of
          contract:&nbsp;
        </div>
        <span class="font-normal">{data?.type}</span>
      </div>
      <div
        class="flex border-b-2 mb-4 pb-4 flex-row items-center text-xs sm:text-base tracking-tigh font-bold"
      >
        <div class="flex flex-row items-center">
          <BsExclamationDiamond class="w-5 h-5 mr-2 text-slate-500" />
           Needed:&nbsp;
        </div>
        {
          data?.needs &&
            data?.needs.map(prop => <span class="tag">{prop}</span>)
        }
      </div>
      <div
        class="flex flex-row items-center text-xs sm:text-base tracking-tigh font-bold"
      >
        <div>
          <div class="flex flex-row items-center">
            <RiUserFacesContactsLine class="w-5 h-5 mr-2 text-slate-500" />
             Contact info:&nbsp;
          </div>
          <div class="ml-7">
            <ul>
              <li>
                <span class="text-sm"
                  >Name: <span class="font-normal capitalize"
                    >{data?.contact}</span
                  ></span
                >
              </li>
              <li>
                <span class="text-sm"
                  >Phone Number: <span class="font-normal capitalize"
                    >{data?.phoneNumber}</span
                  ></span
                >
              </li>
              <li>
                <span class="text-sm"
                  >Website: <span class="font-normal capitalize"
                    >{data?.website}</span
                  ></span
                >
              </li>
              <li>
                <span class="text-sm"
                  >E-mail: <span class="font-normal capitalize"
                    >{data?.email}</span
                  ></span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    {
      data?.image[0] && (
        <div class="w-1/2 relative bg-red-300 min-h-full">
          <a href={data?.image[0].url}>
            <Image
              class="absolute w-full h-full object-cover hover:scale-105 transition duration-500 cursor-pointer"
              src={data?.image[0].url}
              alt="pub"
              width={1000}
              height={1000}
            />
          </a>
        </div>
      )
    }
  </div>
</Item>
