---
import Board from "../layouts/board.astro";
import Card from "../components/card";
import { XataClient } from "../xata";

const xata = new XataClient({
  apiKey: import.meta.env.XATA_API_KEY,
  branch: import.meta.env.XATA_BRANCH,
  enableBrowser: true,
});

const data = await xata.db.cards.getAll();
---

<Board>
  <div class="container px-6 sm:px-0 mx-auto">
    <div class="columns-1 sm:columns-2 md:columns-3 lg:columns-4">
      {
        data.map(card => (
          <Card
            id={card.id}
            image={card.image}
            title={card.title}
            shortDesc={card.shortDesc}
            location={card.location}
            type={card.type}
            needs={card.needs}
          />
        ))
      }
    </div>
  </div>
</Board>
